<div class="grid-9">
  <article class="node node-page node-published node-not-promoted node-not-sticky author-reilly odd clearfix" id="node-page-1029">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden clearfix">
      <div class="field-items">
        <div class="field-item even">
          <iframe allowfullscreen="" frameborder="0" height="300" mozallowfullscreen="" src="https://player.vimeo.com/video/11764405?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen="" width="400"></iframe>
          <p>This archive of filmed oral histories was created by filmmakers Anne de Mare, Kirsten Kelly and Elizabeth Hemmerdinger under the guidance of the irreplaceable Dr. Michael Nash. The 48 women represented here provide a complex portrait of Rosie the Riveter, taking the viewer beyond the iconic "We Can Do It" poster girl and deep into the experiences real Rosies from diverse backgrounds, challenging the popular perception of women in American History. The filmmakers were inspired by the extraordinary women of The Real Rosie The Riveter Project to develop this material into an animated documentary project using new media technologies called <i>The Girl With The Rivet Gun</i>.</p>
        </div>
      </div>
    </div>
  </article>
</div>
<aside class="grid-3">
  <div class="region-inner region-sidebar-second-inner">
    <div class="block block-block block-3 block-block-3 odd block-without-title" id="block-block-3">
      <div class="block-inner clearfix">
        <div class="content clearfix">
          <h3><a href="{{baseurl 'interviews'}}">Browse Collection</a></h3>
          <h3>Search Collection</h3>
        </div>
      </div>
    </div>
    {{> search }}
    <div class="block block-block block-4 block-block-4 odd block-without-title" id="block-block-4">
      <div class="block-inner clearfix">
        <div class="content clearfix">
          <h3><a class="donations" href="https://www.nyu.edu/giving/make.gift/giving.html?id=1000102&amp;ac=U0GWW" title="Donate">Donate</a></h3>
        </div>
      </div>
    </div>
  </div>
</aside>
