<div class="container-12 clearfix">
  <div id="region-footer-first" class="grid-12">
    <p>A project of the <a href="http://www.nyu.edu/library/bobst/research/tam/index.html">Tamiment Library</a>. Powered by NYU <a href="http://dlib.nyu.edu/dlts/">DLTS</a></p>
  </div>
</div>
