<title>{{title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="shortcut icon" href="{{appUrl}}/images/favicon.ico"/>
<base target="content-frame">
{{{css}}}
<script>document.documentElement.className = document.documentElement.className.replace(/\bnojs\b/g, '');</script>
