<a id="main-content"></a>
<div id="app" class="container" data-discovery="{{discovery}}" data-rows="{{rows}}" data-start="{{start}}">
  <div v-if="hasDocuments" key="search-results">
    <h1 class="title">{{title}} for "<em class="q" v-html="q"></em>"</h1>
    <ol>
      <li v-for="document in documents" class="result">
        <h4 class="title"><a v-bind:href="document.url" v-html="document.label"></a></h4>
        <div class="content" v-html="document.ts_bio"></div>
      </li>
    </ol>
  </div>
  <div v-else key="search-status">
    <h1 class="title" v-html="label"></h1>
  </div>
</div>
