.interview #zone-content {
  padding: 8px;
}

.flowplayer.player {
  display: block;
  width: 640px;
  height: 360px;  
}

.flowplayer iframe {
  width: 640px;
  height: 360px;
}

iframe .flowplayer {
  margin: 0;
  padding: 0;
  position: absolute;
}