$bg-image-default-home: url("http://127.0.0.1:8080/images/background.jpg");  
$bg-image-default: url("http://127.0.0.1:8080/images/real-rosies-1280px.jpg");  
$bg-image-1280: url("http://127.0.0.1:8080/images/real-rosies-1280px.jpg");
$bg-image-768: url("http://127.0.0.1:8080/images/real-rosies-768px.jpg");
$bg-image-768: url("http://127.0.0.1:8080/images/real-rosies-320px.jpg");
$bg-image-480: url("http://127.0.0.1:8080/images/real-rosies-480px.jpg");
$bg-image-960: url("http://127.0.0.1:8080/images/real-rosies-960px.jpg");
$bg-behavior: url("http://127.0.0.1:8080/images/PIE.htc");
$img-button: url("http://127.0.0.1:8080/images/button.png");
$img-select-arrow: url("http://127.0.0.1:8080/images/select-arrow.gif");
$bg-image-default-home: url("http://127.0.0.1:8080/images/background.jpg");
