$bg-image-default-home: image-url("background.jpg");  
$bg-image-default: image-url("real-rosies-1280px.jpg");  
$bg-image-1280: image-url("real-rosies-1280px.jpg");
$bg-image-768: image-url("real-rosies-768px.jpg");
$bg-image-768: image-url("real-rosies-320px.jpg");
$bg-image-480: image-url("real-rosies-480px.jpg");
$bg-image-960: image-url("real-rosies-960px.jpg");
$bg-behavior: image-url("PIE.htc");
$img-button: image-url("button.png");
$img-select-arrow: image-url("select-arrow.gif");
$bg-image-default-home: image-url("background.jpg");
